.all_product_review {
    display: flex;
    flex-direction: row;
}

.all_product_container{
padding:15px 35px;
    width: auto;
    margin:0 auto;
    max-width:90rem;
    display: grid;
    margin-top: 10px;

}

.text{
    margin-bottom: 15px;
    font-size: 22px;

}

.product_img_all {
    width:300px;
    height:200px;
    object-fit: cover;
}

.product_item {
    /* display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  outline: 1px solid #e8e8e8;
  padding: 20px;
  border: none;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: auto;
  padding: 5px;
  margin: 10px 5px 5px 5px;
}
