.active {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor:pointer;


}

.header_container {
    display:flex;
    justify-content: space-between;
}

.header_right {
    display:flex;
    justify-content: space-between;

}
