.model_signup {
    border-radius: 18px;
    width:360px;
    height:780px;
    background-color: rgb(255, 255, 255);
}

.create_accout {
    text-align: left;
    font-size: 18px;
    /* padding:15px */
    padding-left:30px;
    padding-top: 30px;
    margin-bottom: 10px;
    font-weight: bold;
    color:rgb(64, 62, 62);
}

.register_is_easy {
    font-size: 15px;
    /* padding:15px */
    padding-left:30px;
    margin-bottom: 20px;
    font-weight:lighter;
    color:rgb(64, 62, 62);

}

span {
    color:rgb(196, 59, 59)
}


.link_to_login {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-top: 15px;
    color: rgb(62, 59, 59);

}


.already {
    font-size: 15px;
    padding-top: 3px;


}

.submit_to_login {
    margin-left: 60px;


}

.submit_to_login button {
    border-radius: 12px;
    cursor: pointer;
    padding: 5px;

}

.submit_to_login button:hover {
    border:2px solid black;
}
