.icon-store {
  width: 30px;
  height: 30px;
  border-radius: 25px;
  padding:1px;
  overflow: hidden;
  outline: 0.5px solid rgb(208, 202, 202);

}
.store-info {
    display: flex;

}
.text-store {
    justify-content: center;
    align-content:center;
    padding-top:13px;
    font-weight: bold;

}

span {
    color: black;
    padding-left: 6px;
 }

 .cart-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 36px;
 }

 .text-first-line {
    display:flex;
   justify-content: space-between;
   margin-bottom: 20px;
 }


.text-keep-shopping {
    /* font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    text-decoration: none; */
    background-color: white;
    padding: 15px 20px 15px;
    border-radius: 30px;
    border: none;
    font-size: 18px;
    font-weight:500;
    cursor: pointer;


}

.text-keep-shopping:hover {
    /* background-color: rgb(221, 216, 216);
    padding-top:8px;
    padding-bottom: 8px;
    border-radius: 15px;
    position:absolute */
    background-color: #e8e5e5;
}

.text_shopping_cart {
    font-size: 28px;

}

.handshake {
    width: 40px;
    height: 40px;
    border-radius: 25px;
    padding:1px;
    overflow: hidden;
    padding-left: 8px;

}

.text-after-handshake {
    font-size: 15px;
    padding-left: 5px;
   }

.text-second {
    align-items: center;
    display: flex;
    background-color: #D7E6F5;
    padding:10px;
    border-radius: 15px;

}

.text-protect {
    font-weight: bold;
}

.third-part {
    display: flex;
    flex-direction: column;
    margin-top:25px
}

.cart-product_img{

    height:100%;
    width:100%;
    border-radius: 15px;
    margin-top: 10px;


}

.cart-product-info {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.cart-img{
    height:180px;
    width:200px;
    border-radius: 12px;

}

.cart-name {
    width:400px;
    padding-top: 25px;
    line-height: 20px;
}

.cart-name:hover{
    text-decoration: underline;
}

.delete-cart button {
    border:none;
    background-color: white;
    font-weight: 300px;
    font-size: 15px;
    margin-top: 60px;
    margin-left: 0;
    margin-bottom: 0;
    cursor: pointer;
    padding: 15px 20px 15px;
    border-radius: 30px;
    padding-left: 0;

}

.update-container {
    display:flex;
    flex-direction: row;
    padding-top: 25px;
}

.update-cart-quantity select {
    border-radius: 6px;
    padding:10px;
    border:1px solid #8d8e90;
    background-color: white;
    margin-left: 0;
    margin-right: 20px;
}

.update-cart-price {
    margin-left: 20px;
    padding:10px;
    font-weight: bold;
}
