.icon-store {
  width: 30px;
  height: 30px;
  border-radius: 25px;
  padding:1px;
  overflow: hidden;
  outline: 0.5px solid rgb(208, 202, 202);

}
.store-info {
    display: flex;

}
.text-store {
    justify-content: center;
    align-content:center;
    padding-top:10px;
    font-weight: bold;


}

span {
    color: black;
    padding-left: 6px;
 }

 .cart-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 36px;
 }

 .text-first-line {
    display:flex;
   justify-content: space-between;
   margin-bottom: 20px;
 }


.text-keep-shopping {
    /* font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    text-decoration: none; */
    background-color: white;
    padding: 15px 20px 15px;
    border-radius: 30px;
    border: none;
    font-size: 18px;
    font-weight:500;
    cursor: pointer;


}

.text-keep-shopping:hover {
    /* background-color: rgb(221, 216, 216);
    padding-top:8px;
    padding-bottom: 8px;
    border-radius: 15px;
    position:absolute */
    background-color: #e8e5e5;
}

.text_shopping_cart {
    font-size: 28px;

}

.handshake {
    width: 40px;
    height: 40px;
    border-radius: 25px;
    padding:1px;
    overflow: hidden;
    padding-left: 8px;

}

.text-after-handshake {
    font-size: 15px;
    padding-left: 5px;
   }

.text-second {
    align-items: center;
    display: flex;
    background-color: #D7E6F5;
    padding:10px;
    border-radius: 15px;

}

.text-protect {
    font-weight: bold;
}

.third-part {
    display: flex;
    flex-direction: column;
    margin-top:25px
}

.cart-product_img{

    height:100%;
    width:100%;
    border-radius: 15px;
    margin-top: 10px;
    object-fit: cover;


}

.cart-product-info {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 8px;


}

.cart-img{
    /* height:169px;
    width:212px; */
    width: 200px;
    height: 200px;
    border-radius: 12px;
    /* object-fit: cover; */

}

.cart-name {
    width:400px;
    padding-top: 25px;
    line-height: 20px;
}

.cart-name:hover{
    text-decoration: underline;
}

.delete-cart button {
    border:none;
    background-color: white;
    font-weight: 300px;
    font-size: 15px;
    margin-top: 60px;
    margin-left: 0;
    margin-bottom: 0;
    cursor: pointer;
    padding: 15px 20px 15px;
    border-radius: 30px;
    padding-left: 0;

}

.update-container {
    display:flex;
    flex-direction: row;
    padding-top: 25px;
}

.update-cart-quantity select {
    border-radius: 6px;
    padding:10px;
    border:1px solid #8d8e90;
    background-color: white;
    margin-left: 0;
    margin-right: 20px;
}

.update-cart-price {
    margin-left: 20px;
    padding:10px;
    font-weight: bold;
}

.third-part {
    display:flex;
    flex-direction: row;
}

.cart-left {
    width:100%;

}

.cart-right-box {
    width:40%;
    height: 320px;
    padding: 2%;
    margin: 50px 0 50px 50px;
    border: 1px solid #eeeeee;
    border-radius: 12px;
    box-shadow: 0 5px 5px #eeeeee;
}

.single-cart {
    border-top: 1px solid rgb(214, 212, 212);
    padding-top: 20px;
    padding-bottom: 20px;
}

.options {
    display: flex;
    margin-left: 0;
    padding-left: 0;

}
.paymentMethod {
    margin-left: 0;
    padding-left: 0;
}

.credit-card {
    font-weight: bold;
}

.text-under-card {
    margin-top: 30px;
}

.text-items,.text-shop-discount,.text-shipping,.text-subtotal {
    padding-left: 0;
    font-weight: bold;
}

.text-total,.text-discount,.text-subtotal,.text-free-shipping{
    display:flex;
    justify-content: space-between;
    padding-top:15px
}

.text-discount {
    border-bottom: 1px solid rgb(197, 192, 192);
    padding-bottom: 10px;
}

.text-free-shipping {
    padding-top: 5px;
}

.text-subtotal{
    display: flex;
    align-content: center;
    align-items: center;
    padding-left: 0;

}
.text-subtotal-only {
    padding-left: 0;
}
.checkout-button {
    color: white;
    font-size: 16px;
    background-color: #222222;
    width: 100%;
    border: none;
    border-radius: 25px;
    margin-top: 30px;
    padding: 15px;
    cursor: pointer;
    transition: 0.5s all ease-in-out;
}
.checkout-button:hover {
    font-size: 16px;
    scale: 1.02;
    background-color: #222222dc;
}
.fourth-part {
    display: flex;
    justify-content: center;
    padding:20px 0;
}
.text-empty-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;

}
.text-empty-cart {
    font-size: 28px;
    padding-bottom: 20px;
}

.text-discover-empty{
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 30px;
}
.text-discover{
    text-decoration: underline;
    color:black
}

.create-cart-container {

    display: flex;
    flex-direction: column;
}

.cart-select-quantity {
    margin-top: 30px;
    font-size: 16px;
}


#quantity {
    margin: 15px 0 15px;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid lightgray;
    box-shadow: 0 2px 2px #eeeeee;
    cursor: pointer;
}

#quantity:hover{
    border: 1px solid rgba(128, 128, 128, 0.889);
}

.add-cart-button{
    color: white;
    font-size: 18px;
    background-color: #222222;
    width: 100%;
    border: none;
    border-radius: 25px;
    margin: 15px auto;
    padding: 12px;
    cursor: pointer;
    transition: 0.5s all ease-in-out;
}
.add-cart-button:hover{
    scale: 1.02;
    background-color: #222222dc;
}

.checkout-container {
    padding-top: 50px;
}
